<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <link rel="icon" href="/assets/images/favicon.svg">
    <link rel="stylesheet" href="/assets/styles/bootstrap.min.css">
    <script src="/assets/scripts/htmx.min.js"></script>
    <script src="/assets/scripts/htmx.sse.js"></script>
    <script src="/assets/scripts/bootstrap.min.js"></script>
</head>

<body class="d-flex flex-column vh-100" hx-ext="sse">
    {% include "./base/nav.html" %}
    <main id="main" class="container-md flex-grow-1 my-1 my-md-5">
        {% block content %}{% endblock content %}
    </main>
    {% include "./base/footer.html" %}
</body>

</html>
