<footer id="footer" class="mt-1 mt-md-5 bg-body-secondary" hx-preserve>
    <div class="container-md my-3 pt-3 border-top">
        <div class="row">
            <div class="col-12 col-md-8 mb-3 mb-md-0">
                <h6 class="text-muted">Zana Domán</h6>
                <ul class="nav flex-column">
                    <li>
                        <a class="nav-link p-0 text-muted" href="https://github.com/zanadoman" target="_blank">GitHub</a>
                    </li>
                    <li>
                        <a class="nav-link p-0 text-muted" href="https://suckless.org/sucks/web/" target="_blank">#suckless-web</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-2">
                <h5>Backend</h5>
                <ul class="nav flex-column">
                    <li>
                        <a class="nav-link p-0 text-muted" href="https://www.rust-lang.org/" target="_blank">Rust</a>
                    </li>
                    <li>
                        <a class="nav-link p-0 text-muted" href="https://github.com/tokio-rs/axum" target="_blank">Axum</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-2">
                <h5>Frontend</h5>
                <ul class="nav flex-column">
                    <li>
                        <a class="nav-link p-0 text-muted" href="https://htmx.org/" target="_blank">HTMX</a>
                    </li>
                    <li>
                        <a class="nav-link p-0 text-muted" href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
