<div class="form-floating mb-3" hx-target="this" hx-swap="outerHTML">
    <input id="register-form-password" class="form-control {% if error.is_some() %} is-invalid {% else %} is-valid {% endif %}" type="password" name="password" placeholder="Password" hx-post="/register/validate/password" hx-headers='{"X-CSRF-Token": "{{ token }}"}'>
    <label for="register-form-password">Password</label>
    {% if let Some(error) = error %}
    <div class="invalid-feedback">
        <p class="text-center">{{ error }}</p>
    </div>
    {% endif %}
</div>
