<div class="form-floating mb-3" hx-target="this" hx-swap="outerHTML">
    <input
        id="register-form-name"
        class="form-control
               {% if error.is_some() %}
               is-invalid
               {% else if !value.is_empty() %}
               is-valid
               {% else %}
               border-0
               {% endif %}"
        type="text"
        name="name"
        placeholder="Name"
        autocomplete="username"
        value="{{ value }}"
        hx-post="/register/validate/name"
        hx-headers='{"X-CSRF-Token": "{{ token }}"}'
    >
    <label for="register-form-name">Name</label>
    {% if let Some(error) = error %}
    <div class="invalid-feedback">
        <p class="text-center">{{ error }}</p>
    </div>
    {% endif %}
</div>
