<div
    class="form-floating mb-3"
    {% if validation %}
    hx-target="this"
    hx-swap="outerHTML"
    {% endif %}
>
    <input
        id="register-form-password"
        class="form-control
               {% if error.is_some() %}
               is-invalid
               {% else if !value.is_empty() %}
               is-valid
               {% else %}
               border-0
               {% endif %}"
        type="password"
        name="password"
        placeholder="Password"
        value="{{ value }}"
        {% if validation %}
        hx-post="/validate/password"
        hx-headers='{"X-CSRF-Token": "{{ token }}"}'
        {% endif %}
    >
    <label for="register-form-password">Password</label>
    {% if let Some(error) = error %}
    <div class="invalid-feedback">
        <p class="text-center">{{ error }}</p>
    </div>
    {% endif %}
</div>
