<span
    hx-get="/messages"
    hx-trigger="sse:destroy{{ id }}"
    hx-target="#messages"
    hx-swap="innerHTML"
>
    <h2 class="mb-5 fw-bold text-center">MESSAGE #{{ id }}</h2>
    <form
        hx-put="/message/{{ id }}"
        hx-swap="none"
        hx-headers='{"X-CSRF-Token": "{{ token }}"}'
    >
        {{ form_title|safe }}
        {{ form_content|safe }}
        <button
            class="btn btn-primary w-100 mb-3"
            type="submit"
        >Edit</button>
        <button
            class="btn btn-danger w-100 mb-3"
            type="button"
            hx-delete="/message/{{ id }}"
            hx-swap="none"
            hx-headers='{"X-CSRF-Token": "{{ token }}"}'
        >Delete</button>
        <button
            class="btn btn-primary w-100 mb-5"
            type="button"
            hx-get="/messages"
            hx-target="#messages"
            hx-swap="innerHTML"
        >Close</button>
    </form>
</span>
