{% extends "index.html" %}
{% block content %}

<form hx-post="/register" hx-target="body" hx-swap="outerHTML"
    hx-headers='{"X-CSRF-Token": "{{ token }}"}'>
    <label>Name</label>
    <input type="text" name="name" />
    <label>Password</label>
    <input type="text" name="password" />
    <button type="submit">Register</button>
</form>

<form hx-post="/login" hx-target="body" hx-swap="outerHTML"
    hx-headers="{'X-CSRF-Token': '{{ token }}'}">
    <label>Name</label>
    <input type="text" name="name" />
    <label>Password</label>
    <input type="text" name="password" />
    <button type="submit">Login</button>
</form>

{% endblock content %}
