{% extends "index.html" %}
{% block content %}

<form hx-post="/register" hx-headers='{"X-CSRF-Token": "{{ token }}"}'>
    <label for="register-form-name">Name</label>
    <input id="register-form-name" type="text" name="name" autocomplete="username">
    <label for="register-form-password">Password</label>
    <input id="register-form-password" type="password" name="password">
    <button type="submit">Register</button>
</form>

<form hx-post="/login" hx-headers='{"X-CSRF-Token": "{{ token }}"}'>
    <label for="login-form-name">Name</label>
    <input id="login-form-name" type="text" name="name" autocomplete="username">
    <label for="login-form-password">Password</label>
    <input id="login-form-password" type="password" name="password">
    <button type="submit">Login</button>
</form>

{% endblock content %}
