{% extends "index.html" %}
{% block content %}

<p><b>{{ username }}</b></p>

<div id="messages" hx-get="/messages" hx-trigger="load" hx-swap="innerHTML"></div>

<form hx-post="/messages" hx-target="#messages" hx-swap="beforeend">
    <label>Title</label>
    <input type="text" name="title" />
    <label>Content</label>
    <input type="text" name="content" />
    <button type="submit">Send</button>
</form>

<br>

<button hx-post="/logout" hx-target="body" hx-swap="outerHTML">Logout</button>

{% endblock content %}
