{% extends "base/base.html" %}
{% block content %}

<p>{{ username }}</p>

<div sse-connect="/messages/events" hx-get="/messages" hx-trigger="load" sse-swap="messages" hx-swap="afterbegin"></div>

<form hx-post="/messages" hx-headers='{"X-CSRF-Token": "{{ token }}"}'>
    <label for="messages-form-title">Title</label>
    <input id="messages-form-title" type="text" name="title">
    <label for="messages-form-content">Content</label>
    <input id="messages-form-content" type="text" name="content">
    <button type="submit">Send</button>
</form>

<button hx-post="/logout" hx-headers='{"X-CSRF-Token": "{{ token }}"}'>Logout</button>

{% endblock content %}
